* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background-color: hsl(216, 12%, 8%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main {
  display: flex;
  flex-direction: column;
  background-color: hsl(213, 19%, 18%);
  width: 30%;
  padding: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
}

.star {
  height: 2rem;
  width: 2rem;
  background-color: antiquewhite;
  padding: 0.5rem;
  fill: green;
  border-radius: 50%;
  margin-bottom: 2rem;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  padding-bottom: 1rem;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.star {
  height: 1.5rem;
  width: 1.5rem;
  background-color: antiquewhite;
  padding: 1rem;
  fill: green;
  border-radius: 50%;
}

.rating-section {
  display: flex;
  /* background-color: black; */
  /* justify-content: space-between; */
  justify-content: space-between;
  margin-bottom: 2rem;
}

.rating-number {
  color: hsl(0, 0%, 100%);
  background-color: hsl(221, 14%, 23%);
  /* box-shadow: 0.1rem 0.1rem 0.6rem rgb(10, 10, 47); */
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: all 0.5s;
}

.rating-number:hover {
  background-color: hsl(25, 97%, 53%);
}

.submit-section {
  display: flex;
}

.submit-btn {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  padding: 1rem 5rem;
  border-radius: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  transition: all 0.4s;
}

.submit-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

/* /////////////////////APPERECIATION SECTION///////////////// */

.main-thank-you {
  display: flex;
  flex-direction: column;
  background-color: hsl(213, 19%, 18%);
  width: 30%;
  padding: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

.appereciation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.appreciation-text {
  background-color: hsl(221, 14%, 23%);
  color: hsl(25, 97%, 53%);
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  transition: all 0.4s;
}

.thank-you {
  text-align: center;
}

.appereciation-section p {
  text-align: center;
  margin-bottom: 2.5rem;
}

.thank-you-img {
  width: 50%;
  margin-bottom: 2.5rem;
}

.hide {
  display: none;
}
